<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901023408306-456h14bvvk40iolag436ssvolpl2elb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901023408306-456h14bvvk40iolag436ssvolpl2elb0</string>
	<key>API_KEY</key>
	<string>AIzaSyAgARaOQQ8Zs41xVDk_BaF9DpNXbONf0xs</string>
	<key>GCM_SENDER_ID</key>
	<string>901023408306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facApp</string>
	<key>PROJECT_ID</key>
	<string>factory-e9054</string>
	<key>STORAGE_BUCKET</key>
	<string>factory-e9054.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901023408306:ios:ab1c5a0c5d5ff6b5cce9ab</string>
</dict>
</plist>